
.footer {
position:relative;
  margin-top: auto;
  background-color: rgb(175, 130, 71);
  object-fit: contain;
  width: 100%;
bottom: 0;
  width: 100%;
    text-align: center;

}

.dark .footer{
  background-color: brown;
}
