*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
scroll-behavior: smooth;


}

.App{

  width:100vw;
  min-height: 100vh;
background: #ced8ff;
color: black;
transition: 1s;

}

.App.dark{
    width: 100vw;
      min-height: 100vh;
      color: aliceblue;
      background: darkblue;
      transition: 1s;

}

.postSection {
  min-height: 100vh;
  padding: 10rem 9% 20rem;
}

.logo {
  width: 300px;
  cursor: pointer;
  margin-left: 100px;
}
.toggle-icon {

    width: 50px;
    cursor: pointer;
  float: right;
  margin-right: 100px;
  }