

*{
margin: 0;
padding: 0;
text-decoration: none;
font-family: sans-serif;
scroll-behavior: smooth;

}

.App{

  align-items: center;
  justify-content: center;
  
  min-height: 100vh;
background: #ced8ff;
color: black;
 transition: 1s;
}

.App.dark{
    width: 100vw;
      min-height: 100vh;
      color: aliceblue;
      background: darkblue;
      transition: 1s;

}

.Header{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;


}
/*
.postSection {
min-height: 100vh;
  padding: 10rem 9% 20rem;
}
*/
.logo {
  width: 300px;
  cursor: pointer;
  margin-left: 100px;
  position: relative;
}
.toggle-icon {

    width: 50px;
    cursor: pointer;
    position: fixed;
right: 80px;
  top: 20px;
  }


/*sidebar css }
.sidebar {
  height: 100%;
  overflow:hidden;
  float:left;
  transition: width 1s;
}

.sidebar {
  background:white;
  width: 30%;
  box-shadow: 2px 0 4px rgba(0,0,0,0.5);
}

.sidebar.collapsed {
  width: 0;
}

.sidebar.collapsed{
  width: 100%;
 


 }

 */
 .container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;

}
.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
 .bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}