
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
scroll-behavior: smooth;

}

.App{
display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;

background: #ced8ff;
color: black;
  display: flex;

}

.App.dark{
    width: 100vw;
      min-height: 100vh;
      color: aliceblue;
      background: darkblue;
      transition: 1s;

}

.Header{
position: absolute;
  top: 0;
}
.postSection {
  min-height: 100vh;
  padding: 10rem 9% 20rem;
}

.logo {
  width: 300px;
  cursor: pointer;
  margin-left: 100px;
}
.toggle-icon {

    width: 50px;
    cursor: pointer;
  float: right;
  margin-right: 100px;
  }